<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90b26d">  <td>23/12/12 19:13:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_testClass.executor()[pri:0, instance:TestClass_package.Put_testClass@79dc5318]">executor</td> 
  <td>main@1807176280</td>   <td></td> </tr>
<tr bgcolor="77d0f9">  <td>23/12/12 19:13:43</td>   <td>1996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_test_class.executor()[pri:0, instance:TestClass_package.Post_test_class@8e50104]">executor</td> 
  <td>main@1807176280</td>   <td></td> </tr>
<tr bgcolor="bcf767">  <td>23/12/12 19:13:38</td>   <td>-3460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="patch_testClass.executor()[pri:0, instance:TestClass_package.patch_testClass@43b9fd5]">executor</td> 
  <td>main@1807176280</td>   <td></td> </tr>
<tr bgcolor="87a1cb">  <td>23/12/12 19:13:35</td>   <td>-6754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="get_testClass.executor()[pri:0, instance:TestClass_package.get_testClass@4e423aa2]">executor</td> 
  <td>main@1807176280</td>   <td></td> </tr>
</table>
